@import "../app.component.scss";
.main {
  background-color: $background-base-color;
  height: 5em;
  .footer {
    background: $background-aux-color;
    color: $text-base-color;
    position: relative;
    text-align: center;
    padding-top: 0;
    .overflow {
      overflow-x: hidden;
      .footer-header {
        width: calc(100% + 15px);
      }
      .footer-list {
        height: 5em;
        width: calc(100% + 30px);
        overflow-y: scroll;
        position: relative;
      }
    }
    .footer-header {
      font-size: $title3-text-size;
      padding: 2px 0px;
      display: block;
    }
    .footer-list {
      list-style: none;
      font-size: $aux-text-size;
      padding: 0px;
      margin-bottom: 10px;
      .footer-link {
        font-size: $def-text-size;
        text-decoration: inherit;
        color: $text-aux-color;
        cursor: pointer;
        &:hover {
          color: $text-hover-color;
        }
      }
    }
    .social {
      background: $background-btn-color;
      font-size: $title3-text-size;
      color: $text-aux-color;
      border-radius: 25px;
      position: relative;
      padding: 8px 16px;
      cursor: pointer;
      outline: none;
      margin: 3px;
      border: 0px;
      top: 10px;
      &:hover {
        color: $text-hover-color;
      }
    }
  }
}
