<div class="main">
  <!-- credits to @robinselmer (https://codepen.io/robinselmer) creator of this 404 page (https://codepen.io/robinselmer/pen/vJjbOZ) posted on (https://codepen.io) -->
  <div class="noise"></div>
  <div class="overlay"></div>
  <div class="terminal">
    <h1>Error <span class="errorcode">404</span></h1>
    <p class="output">The page you are looking for might have been removed, had its name changed or is temporarily
      unavailable.</p>
    <p class="output">Please try to <button onclick="window.history.go(-1);">go back</button> or <a [routerLink]="['/']">return to the homepage</a>.</p>
    <p class="output">Good luck.</p>
  </div>
</div>
