<div class="main">
  <!-- credits to @robinselmer (https://codepen.io/robinselmer) creator of this 404 page (https://codepen.io/robinselmer/pen/vJjbOZ) posted on (https://codepen.io) -->
  <div class="noise"></div>
  <div class="overlay"></div>
  <div class="terminal">
    <h1>Error <span class="errorcode">404</span></h1>
    <p class="output">La pagina que estabas buscando puede que haya sido retirada de forma temporal,
      haya cambiado su nombre o haya sido eliminada.</p>
    <p class="output">Intente <button onclick="window.history.go(-1);">Regresar a la pagina anterior</button> o <a [routerLink]="['/']">volver a la pagina de inicio</a>.</p>
    <p class="output">Buena suerte.</p>
  </div>
</div>
