@import "../../../app.component.scss";
.main {
  width: 80%;
  margin: 0px 10%;
  padding: 50px 0px;
  min-height: $port-view;
  background-color: $background-dashboard-color;
  form {
    padding: 20px;
    background-color: $background-aux-color;
    border-radius: 20px;
    .input-control {
      width: 50%;
      display: inline-table;
      padding: 10px 20px 0px 20px;
      .form-label {
        font-size: $main-text-size;
        color: $text-aux-color;
        text-transform: uppercase;
        text-align: center;
        width: 100%;
      }
      .image {
        background-size: cover;
        border-radius: 15px;
        position: relative;
        margin: 20px 38% 0px 38%;
        height: 150px;
        width: 300px;
        left: -10px;
      }
    }
    .input-control.control-block {
      width: 100%;
    }
    .input-control.image-block {
      width: 100%;
      .form-control {
        display: inline-table;
        width: 90%;
      }
      .button-add {
        transition: all 0.3s ease;
        border-bottom-right-radius: 2px;
        border-top-right-radius: 2px;
        font-size: $main-text-size;
        color: $text-focus-color;
        display: inline-table;
        position: relative;
        padding: 9px 0px;
        cursor: pointer;
        border: 0px;
        width: 10%;
        left: -3px;
        top: 1px;
        &:hover {
          transition: all 0.3s ease;
          background-color: $input-background-main;
          color: $text-base-color;
        }
      }
      .image {
        display: inline-table;
        background-size: cover;
        border-radius: 15px;
        position: relative;
        margin: 10px 1.65%;
        cursor: pointer;
        height: 150px;
        width: 30%;
      }
    }
    .submit-button {
      transition: all 0.3s ease;
      background-color: $input-background-main;
      border: 2px solid $card-shadow;
      border-radius: 15px;
      font-size: $main-text-size;
      color: $text-aux-color;
      margin: 20px 30% 0px 30%;
      padding: 10px;
      width: 40%;
      &:hover {
        transition: all 0.3s ease;
        background-color: $button-background-hover;
      }
    }
    .selected-button {
      transition: all 0.3s ease;
      background-color: $background-base-color;
      border: 2px solid $card-shadow;
      border-radius: 2px;
      font-size: $main-text-size;
      color: $text-focus-color;
      margin: 10px 2.5%;
      padding: 2px 4px;
      width: 20%;
      &:hover {
        transition: all 0.3s ease;
        background-color: $button-background-delete;
        color: $text-aux-color;
      }
    }
  }
}
