@import "../app.component.scss";

.main {
  width: 100%;
  height: max-content;
  position: relative;
  text-align: center;
  background-color: $background-main-color;
  .carousel {
    width: 100%;
    overflow: hidden;
    margin-bottom: 20px;
    padding: 0px;
    .carousel-indicators {
      background-color: $background-aux2-color;
      margin: 0px;
      width: 100%;
      bottom: 20px;
      button {
        background-color: $background-aux-color;
        padding: 4px;
      }
    }
    .carousel-inner {
      .carousel-item {
        margin-bottom: 20px;
        overflow: hidden;
        height: 500px;
        width:100%;
        .carousel-image {
          background-image: url("../../assets/images/landing-cover.png");
          background-size: cover;
          align-self: center;
          display: block;
          height: 500px;
          width: 100%;
        }
        .carousel-caption {
          background-color: $background-card-color;
          color: $text-aux-color;
          padding: 375px 100px 125px 100px;
          position: relative;
          height: 500px;
          width: 100%;
          top: -500px;
          left: 0px;
          h5{
            font-size: $main-text-size;
          }
        }
      }
    }
  }

  .content {
    justify-items: center;
    position: relative;
    display: grid;
    .aux-container {
      background: $background-card-color;
      color: $text-aux-color;
      border-radius: 15px;
      margin: 20px;
      width: 80%;
      .float-left {
        border-bottom-left-radius: 15px;
        border-top-left-radius: 15px;
        float: left;
      }
      .float-right {
        border-bottom-right-radius: 15px;
        border-top-right-radius: 15px;
        float: right;
      }
      .aux-img {
        border: 1px solid $text-decoration;
        background-size: cover;
        height: 100%;
        width: 40%;
      }

      .aux-content {
        width: 60%;
        .aux-header {
          border: 1px solid $text-decoration;
          border-top-right-radius: inherit;
          border-top-left-radius: inherit;
          font-size: $main-text-size;
          color: $text-hover-color;
          padding: 10px;
        }
        .aux-text {
          border: 1px solid $text-decoration;
          padding: 25px;
        }
        .aux-text.extend{
          border-bottom-right-radius: inherit;
          border-bottom-left-radius: inherit;
        }
        .aux-link {
          transition: all 0.3s ease;
          border: 1px solid $text-decoration;
          border-bottom-right-radius: inherit;
          border-bottom-left-radius: inherit;
          a {
            transition: all 0.3s ease;
            color: $text-hover-color;
            text-decoration: none;
            display: block;
            padding: 10px;
            &:hover {
              transition: all 0.3s ease;
              color: $text-base-color;
            }
          }
          &:hover {
            transition: all 0.3s ease;
            background-color: $background-card-decoration;
            border-bottom-right-radius: inherit;
            border-bottom-left-radius: inherit;
          }
        }
      }
    }
  }
}
